<!DOCTYPE html>
    <head>
        <title>Derechos y Ciencias Politicas</title>
        
    </head>
    <Body>
        <div>
            {% if session['name'] %}
            Hola {{session['name']}}<br/>
            {% endif %}
            <form name="Derechosycienciaspoliticas" action="/Derechosycienciaspoliticas" method="post" onsubmit="">
                <p>
                <p>1 ¿Le gusta defender los derechos de los demás y los propios inclusive?</p>
                    <input type="radio" name="pregunta1" value="si"> Si <br>
                    <input type="radio" name="pregunta1" value="no"> No <br>
                </p>
                <p>2 ¿Le atrae investigar crímenes y delitos?</p>
                    <input type="radio" name="pregunta2" value="si"> Si <br>
                    <input type="radio" name="pregunta2" value="no"> No <br>
                </p>
               
                </p>
                <p><input type=submit value=Next></p>
            </form>
        </div>
    </Body>
</html>