<!DOCTYPE html>
    <head>
        <title>Inicio</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Styles/style1.css') }}">
    </head>
    <Body bgcolor="#D8D8D8">
        <div class="encabezado">
            <h1>Test de  Orientacion Vocacional UIP</h1>
        </div>
        <div class="cuerpo">
            <p id="titulo" >Ingrese su nombre</p>
            <form action="/iniciarTest" method="post">
                <p><input id="txt" type="text" name="yourname"/></p>
                <p><input id="boton" type="submit" value="Iniciar prueba"></p>
            </form>
        </div>
    </Body>
</html>