<!DOCTYPE html>
    <head>
        <title>Prototipo pantalla1 test</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Styles/style2.css') }}">
    </head>
    <Body>
        <div>
            {% if session['name'] %}
            Hola {{session['name']}}<br/>
            {% endif %}
            <p> Hola {{ u }}</p>
            <form name="myForm" action="/escogerCarrera" method="post" onsubmit="">
                <p>
                <p>1 ¿Cree tener dotes artísticas? </p>
                    <input type="radio" name="pregunta1" value="si"> Si <br>
                    <input type="radio" name="pregunta1" value="no"> No <br>
                </p>
                <p>2 ¿Tiene facilidad para resolver problemas numéricos? </p>
                    <input type="radio" name="pregunta2" value="si"> Si <br>
                    <input type="radio" name="pregunta2" value="no"> No <br>
                </p>
                <p>3 ¿Le gusta ser servicial con las visitas en casa? </p>
                    <input type="radio" name="pregunta3" value="si"> Si <br>
                    <input type="radio" name="pregunta3" value="no"> No <br>
                </p>
                <p>4 ¿Es bueno con los trabajos manuales?  </p>
                    <input type="radio" name="pregunta4" value="si"> Si <br>
                    <input type="radio" name="pregunta4" value="no"> No <br>
                </p>
                <p>5 ¿Administra bien su dinero? </p>
                    <input type="radio" name="pregunta5" value="si"> Si <br>
                    <input type="radio" name="pregunta5" value="no"> No <br>
                </p>
                <p>6 ¿Se le facilita realizar modelos a escala? </p>
                    <input type="radio" name="pregunta6" value="si"> Si <br>
                    <input type="radio" name="pregunta6" value="no"> No <br>
                </p>
                <p>7 ¿Maneja perfectamente los programas de su computador? </p>
                    <input type="radio" name="pregunta7" value="si"> Si <br>
                    <input type="radio" name="pregunta7" value="no"> No <br>
                </p>
                <p>8 ¿Le gusta preparar postres y cocinar? </p>
                    <input type="radio" name="pregunta8" value="si"> Si <br>
                    <input type="radio" name="pregunta8" value="no"> No <br>
                </p>
                <p>9 ¿Responde tranquilamente a situaciones de urgencia y emergencia? </p>
                    <input type="radio" name="pregunta9" value="si"> Si <br>
                    <input type="radio" name="pregunta9" value="no"> No <br>
                </p>
                <p>10 ¿Es capaz de reparar algún aparato eléctrico? </p>
                    <input type="radio" name="pregunta10" value="si"> Si <br>
                    <input type="radio" name="pregunta10" value="no"> No <br>
                </p>
                <p>11 ¿Participa en actividades y programas sociales? </p>
                    <input type="radio" name="pregunta11" value="si"> Si <br>
                    <input type="radio" name="pregunta11" value="no"> No <br>
                </p>
                <p>12 ¿Entiende de medidas y puntos cardinales? </p>
                    <input type="radio" name="pregunta12" value="si"> Si <br>
                    <input type="radio" name="pregunta12" value="no"> No <br>
                </p>
                <p>13¿Conoce las leyes y el manejo político del país? </p>
                    <input type="radio" name="pregunta13" value="si"> Si <br>
                    <input type="radio" name="pregunta13" value="no"> No <br>
                </p>
                <p>14 ¿Tiene habilidad para las ventas? </p>
                    <input type="radio" name="pregunta14" value="si"> Si <br>
                    <input type="radio" name="pregunta14" value="no"> No <br>
                </p>
                <p>15 ¿Se le facilita el manejo de aparatos tecnológicos? </p>
                    <input type="radio" name="pregunta15" value="si"> Si <br>
                    <input type="radio" name="pregunta15" value="no"> No <br>
                </p>
                <p>16 ¿Tiene aptitudes para dibujar planos? </p>
                    <input type="radio" name="pregunta16" value="si"> Si <br>
                    <input type="radio" name="pregunta16" value="no"> No <br>
                </p>
                <p>17 ¿Posee habilidades para investigar y persuadir a la gente? </p>
                    <input type="radio" name="pregunta17" value="si"> Si <br>
                    <input type="radio" name="pregunta17" value="no"> No <br>
                </p>
                <p>18 ¿Toca algún instrumento musical? </p>
                    <input type="radio" name="pregunta18" value="si"> Si <br>
                    <input type="radio" name="pregunta18" value="no"> No <br>
                </p>
                <p>19 ¿Es experto en destinos turísticos? </p>
                    <input type="radio" name="pregunta19" value="si"> Si <br>
                    <input type="radio" name="pregunta19" value="no"> No <br>
                </p>
                <p>20 ¿Tiene capacidad de liderazgo? </p>
                    <input type="radio" name="pregunta20" value="si"> Si <br>
                    <input type="radio" name="pregunta20" value="no"> No <br>
                </p>
                <p>21 ¿Es entregado y comprometido con los otros seres humanos? </p>
                    <input type="radio" name="pregunta21" value="si"> Si <br>
                    <input type="radio" name="pregunta21" value="no"> No <br>
                </p>
                <p>22 ¿Le gusta hablar otros idiomas? </p>
                    <input type="radio" name="pregunta22" value="si"> Si <br>
                    <input type="radio" name="pregunta22" value="no"> No <br>
                </p>
                <p>23 ¿Le gusta planear estrategias? </p>
                    <input type="radio" name="pregunta23" value="si"> Si <br>
                    <input type="radio" name="pregunta23" value="no"> No <br>
                </p>
                <p>24 ¿Es una persona que le atrae todo lo relacionado con puertos y transito marítimo? </p>
                    <input type="radio" name="pregunta24" value="si"> Si <br>
                    <input type="radio" name="pregunta24" value="no"> No <br>
                </p>
                <p>25 ¿Es una persona analítica de mejoras de servicio? </p>
                    <input type="radio" name="pregunta25" value="si"> Si <br>
                    <input type="radio" name="pregunta25" value="no"> No <br>
                </p>
                <p><input type=submit value=Next></p>
            </form>
        </div>
    </Body>
</html>