<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pag2</title>
</head>
<body>
<p> Hola {{ nombre }} </p>
        {% if session['name'] %}
            Hola {{session['name']}}<br/>
        {% endif %}
        <p>{{ t }}</p>
        <form name="myForm" action="/SeleccionarFacultad" method="post" onsubmit="">
            {% for a in c %}
                {% if a == "Comunicacion y disenio" %}
                    <input type="radio" name="pregunta" value="{{ a }}"> {{ a }} <br>
                {% elif a == "Ciencias Administrativas" %}
                    <input type="radio" name="pregunta" value="{{ a }}"> {{ a }} <br>
                {% elif a == "Ingenieria y sistemas" %}
                    <input type="radio" name="pregunta" value="{{ a }}"> {{ a }} <br>
                {% elif a == "Ciencias de la salud" %}
                    <input type="radio" name="pregunta" value="{{ a }}"> {{ a }} <br>
                {% elif a == "Arquitectura" %}
                    <input type="radio" name="pregunta" value="{{ a }}"> {{ a }} <br>
                {% elif a == "Derecho y ciencias politicas" %}
                    <input type="radio" name="pregunta" value="{{ a }}"> {{ a }} <br>
                {% elif a == "Hotelería, Gastronomía y Turismo" %}
                    <input type="radio" name="pregunta" value="{{ a }}"> {{ a }} <br>
                {% elif a == "Logistica Maritma y portuaria" %}
                    <input type="radio" name="pregunta" value="{{ a }}"> {{ a }} <br>
                {% endif %}
            {% endfor %}
            <p><input type=submit value=Next></p>
        </form>
</body>
</html>