<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seleccionar Facultad</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Styles/style3.css') }}">
</head>
<body>
<div>
        {% if session['name'] %}
           <h2>Okay {{session['name']}} segun el test esta son las facultades que se acomodana a tu actitud</h2>
        {% endif %}
            <h3>Escge al facultad que mas te llame la atencion para pasar al test que escogera tu carrera indicada</h3>
        <form name="myForm" action="/SeleccionarFacultad" method="post" onsubmit="">
            {% for a in c %}
                {% if a == "Comunicacion y disenio" %}
                    <p class="facultad"><input type="radio" name="pregunta" value="{{ a }}">{{ a }}</p>
                {% elif a == "Ciencias Administrativas" %}
                    <p class="facultad"><input type="radio" name="pregunta" value="{{ a }}">{{ a }}</p>
                {% elif a == "Ingenieria y sistemas" %}
                    <p class="facultad"><input type="radio" name="pregunta" value="{{ a }}">{{ a }}</p>
                {% elif a == "Ciencias de la salud" %}
                    <p class="facultad"><input type="radio" name="pregunta" value="{{ a }}">{{ a }}</p>
                {% elif a == "Arquitectura" %}
                    <p class="facultad"><input type="radio" name="pregunta" value="{{ a }}">{{ a }}</p>
                {% elif a == "Derecho y ciencias politicas" %}
                    <p class="facultad"><input type="radio" name="pregunta" value="{{ a }}">{{ a }}</p>
                {% elif a == "Hotelería, Gastronomía y Turismo" %}
                    <p class="facultad"><input type="radio" name="pregunta" value="{{ a }}">{{ a }}</p>
                {% elif a == "Logistica Maritma y portuaria" %}
                    <p class="facultad"><input type="radio" name="pregunta" value="{{ a }}">{{ a }}</p>
                {% endif %}
            {% endfor %}
            <p><input id="boton" type=submit value=Next></p>
        </form>
</div>
</body>
</html>