@import url('http://fonts.googleapis.com/css?family=Lato');
body{

}
html{
    font-family:'Lato', cursive;
    background-color:#A9D0F5;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
div{
    background-color:white;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 15px;
    padding-bottom: 20px;
    border-radius: 50px 10px 50px 10px;
    width:750px;
    margin:auto;
}
.pregunta{
    font-family:'Lato', cursive;
}
h2{
    font-family:'Lato', cursive;
}